{% extends 'base/base.html' %}
{% load object_filters %}
{% block base %}
    {% include "base/nav/header.html" %}
  <div class="container mt-5">
    <h1 class="mb-4 text-center text-white">
      <strong>Created Recipes</strong>
    </h1>
    {% for dish in dishes %}
      <a href="{% url 'recipes:recipe-detail' dish.slug %}" class="dish-card">
        <img src="https://via.placeholder.com/150" alt="Dish Image">
        <div class="dish-info">
          <h5>{{ dish.name }}</h5>
          <small><strong>Author:</strong> {{ dish.created_by }}</small>
          <small><strong>Rating:</strong> {{ dish|average_dish_rating }}</small>
          <small><strong>Time to cook:</strong> {{ dish.cooking_time }} minutes</small>
          <small><strong>Dish type:</strong> {{ dish.dish_type }}</small>
          <small><strong>Added:</strong> {{ dish.created_at.day }}/{{ dish.created_at.month }}/{{ dish.created_at.year }}</small>
        </div>
        <div class="dish-description-box transparent_bg">
          <p class="dish-description">
            {{ dish.description }}
          </p>
        </div>
      </a>
      {% empty %}
      <h1 class="mt-5 text-center text-white">
      <strong>No dish created yet...</strong>
    </h1>
    {% endfor %}
  </div>
{% endblock %}