{% include 'base/base.html' %}
{% load object_filters %}
{% block base %}
  {% include 'base/nav/header.html' %}
  <div class="container">
    <!-- Profile Header -->
    <div class="profile-header">
      <h1 class="text-center">{{ author.username }}'s
        {% if author == user %} (Your) {% endif %}
        Profile</h1>
      <p>Username: {{ author.username }}</p>
      {% if author == user %}
        <p>Last name: {{ author.last_name }}</p>
        <p>First name: {{ author.first_name }}</p>
        <p>Email: {{ author.email }}</p>
      {% endif %}
      <p>Total Dishes: {{ author|total_dishes }}</p>
      <p>Average rate of all dishes: {{ author|average_user_dishes_rating }}</p>
      <p>Member Since: {{ author.date_joined|date:"F d, Y" }}</p>
    </div>
    {% if user == author %}
      
    <!-- Buttons for additional actions -->
    <div style="display: flex; justify-content: space-between;">
      <div>
        <a href="{% url 'recipes:created_recipes' user.slug %}" class="btn btn-warning mr-3">My dishes</a>
        <a href="{% url 'recipes:profile-update' user.slug %}" class="btn btn-success mr-3">Edit Profile</a>
      </div>
      <a href="" class="btn btn-danger mr-3 content-left">Delete Account</a>
    </div>
    {% else %}
      <a href="{% url 'recipes:created_recipes' author.slug %}" class="btn btn-light mr-3">{{ author.username }}'s Dishes</a>
  {% endif %}
  </div>
{% endblock %}

