<header>
  <div
      class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-coral border-bottom shadow-sm error-page">
    <h5 class="my-0 mr-md-auto font-weight-normal">Food Recipes</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="#">Catalog</a>
      <a class="p-2 text-dark" href="#"></a>
      <a class="p-2 text-dark" href="#">Support</a>
      <a class="p-2 text-dark" href="#">Pricing</a>
    </nav>
    <div class="btn-group" role="group" aria-label="Basic example">
      <a class="btn btn-outline-primary" href="#">Sign up</a>
      <a class="btn btn-outline-info" href="#">Register</a>
    </div>
  </div>
</header>
